<!-- index/category/about section nav right top -->
<div class="col-md-9 col-md-offset-3 section-posts">

    <!-- website nav -->
    <nav class="navbar navbar-fixed-top col-md-offset-3">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%- config.root %>"><%= theme.intros_nickname %></a>
            </div>


            <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="<%- __('searchholder') %>">
                    </div>
                    <button type="submit" class="btn btn-default"><%- __('search') %></button>
                </form>
                <ul class="nav navbar-nav navbar-right">

                  <% for (var i in theme.menu){ %>
                      <% if (i == Name) {%>
                        <li><a href="<%- url_for(theme.menu[i]) %>" class="current"><%- __('menu.' + i) %></a></li>
                      <% } else { %>
                        <li><a href="<%- url_for(theme.menu[i]) %>"><%- __('menu.' + i) %></a></li>
                      <% } %>

                  <% } %>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
